body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
a { color: #e70000; }

:root {
  --primary: #0072ee !important;
}
.btn:disabled {
  background-color: var(--secondary) !important;
  border-color: var(--secondary) !important;
  opacity: 1 !important;
}
.btn-primary {
  color: #fff;
  background-color: var(--primary) !important;
  border-color: var(--primary) !important;
}